params {
  samplesheet  = 'samplesheet'
  outdir       = 'results'
  len_interval_mb   = 20
  lib_default  = 'lib1'
  fasta        = '/ABS/PATH/TO/genome.fa'
  cohort_name   = 'cv3'  
  snpeff_genome = 'CV_final'
}

report.overwrite = true
timeline.overwrite=true

profiles {
  docker {
    includeConfig 'conf/base.config'
    includeConfig 'conf/docker.config'    
    apptainer.enabled = true
    apptainer.autoMounts = true
  }

  slurm {
    includeConfig 'conf/base.config'
    includeConfig 'conf/docker.config'     // reuse the same images; Apptainer will pull from Quay
    includeConfig 'conf/slurm.config'      // your slurm + singularity settings
    apptainer.enabled = true
    apptainer.autoMounts = true
  }

  standard {
    includeConfig 'conf/base.config'
  }
}

