params {
  samplesheet  = 'samplesheet'
  outdir       = 'results'
  lib_default  = 'lib1'
  fasta        = '/ABS/PATH/TO/genome.fa'
  dbsnp        = null
  known_indels = null
  do_vqsr      = false
  do_bqsr      = false
}


includeConfig 'conf/base.config'

profiles {
  docker {
    docker.enabled  = true
    docker.runOptions = '-u \$(id -u):\$(id -g)'
    includeConfig 'conf/docker.config'
  }

  slurm {
    process.executor = 'slurm'
    singularity.enabled = true
    singularity.autoMounts = true
    singularity.cacheDir   = "${System.getenv('APPTAINER_CACHEDIR') ?: "$HOME/.singularity"}"
    includeConfig 'conf/docker.config'
    includeConfig 'conf/slurm.config'
  }
}