process {
  withName: FASTQC            { cpus = 4;  memory = '20 GB'; time = '1h'  }
  withName: FASTP             { cpus = 4;  memory = '20 GB'; time = '3h'  }
  withName: BWA_MEM           { cpus = 8;  memory = '40 GB'; time = '8h'  }
  withName: SAMTOOLS_POSTPROC { cpus = 8;  memory = '40 GB'; time = '8h'  }
  withName: HAPLOTYPECALLER   { cpus = 2;  memory = '20 GB'; time = '48h' }
  withName: GENOTYPEGVCFS     { cpus = 2;  memory = '20 GB'; time = '48h' }
  withName: HARD_FILTER       { cpus = 4;  memory = '8 GB';  time = '2h'  }
  withName: SNPEFF            { cpus = 4;  memory = '20 GB'; time = '6h'  }
  withName: BCFTOOLS_STATS    { cpus = 2;  memory = '8 GB';  time = '1h'  }
}