process.container = ''

withName: FASTQC            { container = 'quay.io/biocontainers/fastqc:0.11.9--0' }
withName: FASTP             { container = 'quay.io/biocontainers/fastp:0.24.0--heae3180_1' }
withName: BWA_MEM           { container = 'quay.io/biocontainers/bwa:0.7.18--he4a0461_1' }
withName: SAMTOOLS_POSTPROC { container = 'quay.io/biocontainers/samtools:1.20--h50ea8bc_1' }
withName: HAPLOTYPECALLER   { container = 'quay.io/biocontainers/gatk4:4.2.0.0--hdfd78af_1' }
withName: GENOTYPEGVCFS     { container = 'quay.io/biocontainers/gatk4:4.2.0.0--hdfd78af_1' }
withName: HARD_FILTER       { container = 'quay.io/biocontainers/gatk4:4.2.0.0--hdfd78af_1' }
withName: SNPEFF            { container = 'quay.io/biocontainers/snpeff:5.2--hdfd78af_0' }
withName: BCFTOOLS_STATS    { container = 'quay.io/biocontainers/bcftools:1.22--h3a4d415_1' }