process.executor = 'slurm'

singularity.enabled = true
singularity.autoMounts = true
singularity.cacheDir = "${baseDir}/singularity"

process {
  queue = 'week'                
  clusterOptions = '--ntasks=1'    
}

timeline {
  enabled = true
  file = "${params.outdir}/pipeline_timeline.html"
}

trace {
  enabled = true
  file = "${params.outdir}/pipeline_trace.txt"
}

report {
  enabled = true
  file = "${params.outdir}/pipeline_report.html"
}