process {
  executor='slurm'
  queue = 'day'
  clusterOptions = '--ntasks=1'

  errorStrategy = 'retry'
  maxRetries    = 9999
  retryDelay    = '5 min'
}

executor {
  queueSize       = 100
  submitRateLimit = '10 sec'
  pollInterval    = '30 sec'
}

timeline {
  enabled = true
  file = "${params.outdir}/pipeline_timeline.html"
}

trace {
  enabled = true
  file = "${params.outdir}/pipeline_trace.txt"
  overwrite = true 
}

report {
  enabled = true
  file = "${params.outdir}/pipeline_report.html"
}
