
process {
  executor='slurm'
  queue = 'day'                
  clusterOptions = '--ntasks=1'    
}

timeline {
  enabled = true
  file = "${params.outdir}/pipeline_timeline.html"
}

trace {
  enabled = true
  file = "${params.outdir}/pipeline_trace.txt"
  overwrite = true 
}

report {
  enabled = true
  file = "${params.outdir}/pipeline_report.html"
}
